.jkt{
  margin-left: -10px;
  margin-top: 20px;
}
.hjt{
  margin-left: 1000px;
  margin-top: -60px;
}
.hjk{
  margin-left: 800px;
  /* margin-top: -200px; */
}

.cgr{
  background: linear-gradient(to bottom, #6BD1AF , #86A8E7 ,#5FFBF1);
}

.ijk{
  background: linear-gradient(to bottom, #6BD0D1 , #86E7E5 ,#5F7CFB);
}